<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name= "url" value="https://www.facebook.com/"></parameter>
   <parameter name= "phone" value="9319626876"></parameter>
    <classes>
      <class name="TestNG_Parameter_cocept.ParameterTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
